recsys/scaling_queries.ipynb
recsys/the-movies-dataset/credits.csv
recsys/the-movies-dataset/keywords.csv
recsys/the-movies-dataset/links_small.csv
recsys/the-movies-dataset/links.csv
recsys/the-movies-dataset/movies_metadata.csv
recsys/the-movies-dataset/ratings_small.csv
recsys/the-movies-dataset/ratings.csv
